/* Chat Page */

.chat-container {
	height: 100vh;
	padding: var(--chat-padding);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.chat-header {
	background: var(--secondary-color);
	color: #fff;
	padding: 20px;
	display: none;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
	height: 100px;
}

.chat-main {
	height: 100%;
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	gap: 10px;
}

.chat-sidebar {
	background: var(--secondary-color);
	color: #fff;
	padding: 20px;
	overflow-y: scroll;
	scrollbar-width: none;
	flex: 1 1 auto;
	border-radius: 5px;
	min-width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.sidebar-data {
	flex: 1 1 auto;
}

.leave-btn {
	background-color: var(--accent-color-b);
}

.room-code-container {
	position: relative;
	display: grid;
	grid-template-columns: 3fr .5fr;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.copy-btn, .check-icon {
	position: absolute;
	font-size: 1.4rem;
	right: 0.5rem;
	top: 50%;
	translate: 0 -50%;
	transition-behavior: discrete;
	transition-property: opacity transform;
	transition-duration: .3s;
}

.copy-btn {
	text-decoration: none;
	text-shadow: 0 4px 0 #0005;
	border: none;
	background-color: #0000;
	cursor: pointer;
	transform: translateY(-2px);
}

.check-icon {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	opacity: 0;
	transform: translateY(-2px);
}

.copy-btn:active, .copy-btn.clicked {
	opacity: 0;
	text-shadow: none;
	transform: translateY(0);
}

.room-code-container:has(.copy-btn:active) .check-icon,
.room-code-container:has(.copy-btn.copy-btn.clicked) .check-icon
{
	transform: translateY(0);
	opacity: 1;
}

.chat-sidebar h2 {
	font-size: 30px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-main-part {
	height: 100%;
	flex: 3 1 auto;
	display: flex;
	flex-direction: column;
}

.chat-messages {
	padding: var(--chat-messages-padding);
	overflow-y: scroll;
	overflow-wrap: break-word;
	background: var(--primary-color);
	flex: 1 1 auto;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.chat-messages .message {
	padding: var(--message-padding);
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
	flex: 1 1 auto;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--primary-color);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.chat-form-container form {
	display: flex;
	gap: 10px;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 10px;
	height: 40px;
	flex: 1;
	border-radius: 5px;
	background: #303436aa;
	color: #fff;
}

.user-list-container {
	padding: 0 10px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.user-list-container * {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.user-item {
	font-size: 18px;
}

.active-user {
	padding: 8px 0;
	font-weight: bold;
}

@media (max-width: 1000px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}
