@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    margin: 0
}

.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    margin: 0;
}

.error-header {
    /* background-color: rebeccapurple; */
	font-family: 'JetBrains Mono', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    padding-bottom: 20px;
}

.error-header h1 {
    font-size: 300px;
    font-weight: 700 !important;
    padding: 0;
    margin: 0;
}

.error-header h3 {
    font-size: 40px;
    margin-top: 0;
}

.error-main {
    /* background: red; */
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error-main p {
    /* background-color: aquamarine; */
    display: none;
    padding: 0 20px;
    padding-bottom: 40px;
}

.error-main h3 {
    padding-bottom: 20px;
}
