body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.join-container {
	width: 500px;
	min-width: 320px;
	margin: 80px 0;
	color: #fff;
	grid-area: main;
	padding: 20px;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--secondary-color);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 32px 40px;
	background: var(--primary-color);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.join-main .form-control {
	margin-bottom: 10px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

.instructions-container {
	background: var(--primary-color);
	color: #fff;
	padding: 12px 32px;
	margin: 10px;
	border-radius: 10px;
	position: fixed;
	top: 0;
	right: 0;
	max-width: 450px;
	z-index: 998;
	box-shadow: -4px 4px 10px #0000001a;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.instructions-container h3 {
	padding: 16px 0;
	font-weight: bold;
}

.instructions-container ol {
	/* list-style-position: inside; */
	padding: 8px;
}

.instructions-container li {
	padding-bottom: 12px;
}


.instructions-show, .instructions-close {
	position: fixed;
	top: 0;
	right: 0;
	margin: 20px;
	z-index: 999;
	background: none;
	border-radius: 100px;
	text-shadow: 2px 2px 0 #000;
	transition-property: text-shadow, opacity, rotate;
	transition-duration: 0.15s;
	opacity: 0;
	rotate: 90deg;
	pointer-events: none;
	visibility: hidden;

	> i {
		font-size: 24px;
	}
}

.instructions-show:hover, .instructions-close:hover {
	text-shadow: 0 0 5px #fff8;
}


body:has(.instructions-container[style*="display: none;"]) .instructions-show,
body:has(.instructions-container[style*="display: flex;"]) .instructions-close {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	rotate: 0deg;
	background: none;
}

@media (max-width: 375px) {
	.join-main {
		padding: 32px 20px;
	}
}
