.modal {
    z-index: 999;
    display: flex;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.modal-elements {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}

.modal-elements h2 {
    font-size: 50px;
    padding: 20px;
}

.username-form {
    margin: 10px;
    width: 100%; height: 100%;
    display: grid;
	grid-template-columns: 2fr .5fr;
    gap: 5px;
}

.username-form input {
    font-size: 16px;
	padding: 10px;
	height: 40px;
	flex: 1;
	border-radius: 5px;
	background: #303436aa;
	color: #fff;
}
