@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #4c818b;
	--dark-color-b: #456f6f;
	--dark-color-c: #85abab;
	--light-color: #dddbd3;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--dark-color-c);
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 10px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
	font-weight: bold;
}

.btn:disabled {
	cursor: default;
	background: #dddbd3aa;
	color: #4c818baa;
}

.disable-this {
	display: none;
}
